body {
    width: 512px;
    background-color: rgb(21, 21, 123);
}

.app-header-card {
    
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-family: "Sigmar", sans-serif;
    color: white;
    text-align: center;
    margin: 100px;
    margin-bottom: 10px;
}

.app-header1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:10px;
  color: white;
}
.app-header2{
    font-family: "DM Sans", sans-serif; 
     border: 3px solid black ;
    margin: 20px;
    padding: 15px;
     width: 200px;
    border-radius: 20px; 
    text-align: center;
    background-color: rgb(240, 237, 237);

}
.app-header3{
    font-family: "DM Sans", sans-serif; 
    border: 3px solid black ;
    margin: 20px;
    padding: 15px;
     width: 250px;
    border-radius: 20px; 
    text-align: center;
    background-color: rgb(74, 74, 248);
    color: white;

  }
  img{
    width: 520px;
  }