body {
    width: 512px;
}

.app-header-card {
    
    font-family: "DM Sans", sans-serif;
}
h1 {
    font-family: "Sigmar", sans-serif;
}

.app-header1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:10px;
}
.app-header2{
    font-family: "DM Sans", sans-serif; 
     border: 3px solid black ;
    margin: 20px;
    padding: 15px;
     width: 200px;
    border-radius: 8px; 
    text-align: center;
}
.app-header3{
    font-family: "DM Sans", sans-serif; 
    border: 3px solid black ;
    margin: 20px;
    padding: 15px;
     width: 250px;
    border-radius: 8px; 
    text-align: center;

  }