* {
margin: 0;
padding:0;
box-sizing: border-box;
}

body {
    width: 512px;
    background-color: rgb(21, 21, 123);
}

.app-header-card {
    
    font-family: "DM Sans", sans-serif;
}

.title {
    font-family: "Sigmar", sans-serif;
    color: white;
    text-align: center;
    margin: 100px;
    margin-bottom: 10px;
}

.app-header1 {
  margin-top: 0px;
  margin-bottom: 0;
  margin-left:10px;
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
}
.wireframe_card2{
    font-family: "DM Sans", sans-serif; 
     border: 3px solid black ;
    margin-left: 125px;
    padding: 15px;
     width: 250px;
    border-radius: 20px; 
    text-align: center;
    background-color: rgb(240, 237, 237);

}
.wireframe_card{
    font-family: "DM Sans", sans-serif; 
    border: 3px solid black ;
    margin-left: 125px;
    padding: 15px;
    width: 250px;
    border-radius: 20px; 
    text-align: center;
    background-color: rgb(74, 74, 248);
    color: white;

  }
  .app-header img {
    width: 100%;
    
  }
  .app-main {
     font-family: "Sigmar", sans-serif;
    color: white;
    margin-left:70px;
    border: 1px solid black ;
    margin-top: 10px;
    padding: 35px;
    width: 300px;
    border-radius: 20px; 
    background-color: rgb(52, 105, 204);
    
  }

.text {
      font-family: "DM Sans", sans-serif;
}